{% extends 'admin/change_list.html' %}

{% block title %}Currency Exchange summary{% endblock %}

{% block robots %}noindex, nofollow{% endblock %}

{% block extrastyle %}
	{{ block.super }}
	<script src="https://code.highcharts.com/lib/svg2pdf.js"></script>
	<script src="https://code.highcharts.com/lib/canvg.js"></script>
	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
	<script src="https://highcharts.github.io/export-csv/export-csv.js"></script>
{% endblock %}

{% block result_list %}
<div class="container-fluid">
 	<table>
	    <thead>
	      <tr>
	        <th>
	          <div class=”text”>
	            <a href=”#”>Today's Date</a>
	          </div>
	        </th>
	        <th>
	          <div class=”text”>
	            <a href=”#”>1 EUR - CZK</a>
	          </div>
	        </th>
	        <th>
	          <div class=”text”>
	            <a href=”#”>1 EUR - USD</a>
	          </div>
	        </th>
	        <th>
	          <div class=”text”>
	            <a href=”#”>1 USD - CZK</a>
	          </div>
	        </th>
	      </tr>
	    </thead>

		<tbody>
		  {% for row in summary %}
		  <tr class=”{% cycle 'row1' 'row2' %}”>
		    <td> {{ row.today }} </td>
		    <td> {{ row.OneEurCzk }} </td>
		    <td> {{ row.OneEurUsd }} </td>
		    <td> {{ row.OneUsdCzk }} </td>
		  </tr>
		  {% endfor %}
		</tbody>

	</table> 


	
	<div class="row">
		<div class="col-md-12">
			<div id="container" style="width:100%; height:400px;">
				
			</div>		
		</div>
	</div>

	<script type="text/javascript">
	//$(function () { 
	    var myChart = Highcharts.chart('container', {
	        chart: {
	            type: 'bar'
	        },
	        title: {
	            text: 'Fruit Consumption'
	        },
	        xAxis: {
	            categories: ['Apples', 'Bananas', 'Oranges']
	        },
	        yAxis: {
	            title: {
	                text: 'Fruit eaten'
	            }
	        },
	        series: [{
	            name: 'Jane',
	            data: [1, 0, 4]
	        }, {
	            name: 'John',
	            data: [5, 7, 3]
	        }]
	    });
	//});
	</script>	
		

</div>
{% endblock %}