{% extends 'admin/change_list.html' %}

{% block title %}Currency Exchange summary{% endblock %}

{% block robots %}noindex, nofollow{% endblock %}

{% block extrastyle %}
	{{ block.super }}
	<script src="https://code.highcharts.com/lib/svg2pdf.js"></script>
	<script src="https://code.highcharts.com/lib/canvg.js"></script>
	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
{% endblock %}

{% block footer %}
	<div id="footer">
		<div id="container-hc" class="" style="height:400px;">
	</div>	
	
	<script type="text/javascript">
		var seriesOptions = [], names = ['OneEurCzk', 'OneEurUsd', 'OneUsdCzk'];

	    function create_chart() {
		    Highcharts.stockChart('container-hc', {
				rangeSelector: {
				    selected: 1
				},

				yAxis: {
				    labels: {
				        formatter: function () {
				            return (this.value > 0 ? ' + ' : '') + this.value + '%';
				        }
				    },
				    plotLines: [{
				        value: 0,
				        width: 2,
				        color: 'silver'
				    }]
				},

				title: {
					text: "Used foreign exchange, by week: EUR-CZK-USD"
				}, 

				subtitle: {
					text: "Subtitle for later use"
				},

				plotOptions: {
				    series: {
				        compare: 'percent',
				        showInNavigator: true
				    }
				},

				tooltip: {
				    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
				    valueDecimals: 2,
				    split: true
				},

		        series: seriesOptions
		    });
		}

		var geodata = {{currency_data|escapejs}};
		var geodata2 = {{currency_data|safe}};

		console.log(geodata);
		console.log(geodata2);

		$(function() {
			$.each(names, function (i, name) {
				seriesOptions[i] = {
					name: {{ currency_data[0].today | safe }},
					data: {{ currency_data[0].OneEurCzk | safe }}
				};
				create_chart();

				console.log(seriesOptions[i]);
			});
		});
	</script>

{% endblock %}