{% extends 'admin/change_list.html' %}
{% load i18n admin_static admin_modify %}

{% block title %}Currency Exchange summary{% endblock %}

{% block robots %}noindex, nofollow{% endblock %}

{% block extrastyle %}
	{{ block.super }}
	<script src="https://code.highcharts.com/lib/svg2pdf.js"></script>
	<script src="https://code.highcharts.com/lib/canvg.js"></script>
	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
{% endblock %}

{% block result_list %}
{{ block.super }}
	

	<div id="container" class="add bootstrap flex" style="width:300px; height:400px;">
				
	<script type="text/javascript">
	    var myChart = Highcharts.chart('container', {
	        chart: {
	            type: 'bar'
	        },
	        title: {
	            text: 'Fruit Consumption'
	        },
	        xAxis: {
	            categories: ['Apples', 'Bananas', 'Oranges']
	        },
	        yAxis: {
	            title: {
	                text: 'Fruit eaten'
	            }
	        },
	        series: [{
	            name: 'Jane',
	            data: [1, 0, 4]
	        }, {
	            name: 'John',
	            data: [5, 7, 3]
	        }]
	    });
	</script>	


{% endblock %}