{% extends 'base.html' %}

{% block title %}B40.cz - Reset your password{% endblock %}

{% block descip %}Provide your new password - B40.cz{% endblock %}

{% block robots %}noindex, follow{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row card passwordReset">
		<div class="card-header text-center">
			<h1 class="card-title">Reset your password</h1>
			<p class="text-muted">Step 2</p>
		</div>
		<div class="card-body">
			<form action="" method="POST">
				<div class="form-group spacing">
					<div class="input-group">
						<input class="form-control" type="password" id="inputNewPassword" class="form-control" placeholder="New password" required autofocus>
						<div class="input-group-append mr-1">
							<span class="input-group-text" id="inputGroupAppend">
								<button href="" class="fa fa-eye fa-lg resetIconStylesEYE" id="buttonEYE2" aria-hidden="true" type="button"></button>
							</span>
						</div>
						<label class="sr-only" for="inputNewPassword">New password</label>
					</div>
				</div>
				<div class="form-group spacing">
					<div class="input-group">
						<input class="form-control" type="password" id="inputConfirmNewPassword" class="form-control" placeholder="Confirm new password" required autofocus>
						<div class="input-group-append mr-1">
							<span class="input-group-text" id="inputGroupAppend">
								<button href="" class="fa fa-eye fa-lg resetIconStylesEYE" id="buttonEYE3" aria-hidden="true" type="button"></button>
							</span>
						</div>
						<label class="sr-only" for="inputConfirmNewPassword">Confirm new password</label>
					</div>
				</div>

				<button type="button" class="btn btn-dark float-right btn-lg" value="submit">Set new password</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}