{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{% static 'global_styles.css' %}">
</head>
<body>
<img src=”https://www.google-analytics.com/collect?v=1&t=event&tid=UA-11552074-10&cid=555&ec=email&ea=open&dt=Users%2520Password%2520Reset&dp=%252email%252password_reset&el=recipient_id&cs=password_reset&cm=email&cn=Password_Reset>

<p>Hi, {{ username }}</p>

<p>You have requested to reset your password, and so here we are to help you.</p>

<p>Click on the button below to set a new password.</p>

<a href="{% url 'core_index' %}{% url 'new_password' uidb64=uid token=token %}">
	<button>Choose a New Password</button>
</a>

<p>This link will expire in {{password_expire}} days</p>

<p>The PC/device, which has requested this password reset, can be characterized as:</p>

<ul>
	<li>Operating System: {{operating_system}}</li>
	<li>IP Adress: {{ip_address}}</li> Find more about <a href="http://ip-api.com/{{ip_address}}">it here</a> (Check city & country!)
	<li>Browser: {{browser}}</li>
	<li>Browser Version: {{browser_version}} </li>
</ul>

<p>And what it it was not you?</p>

<p>Then, please, contact us <strong>immediately</strong> and we will take a look into it. We promise!</p>

</body>
</html>





