venv
staticfiles
.env
env
*.ico
*.log
*.pot
*.pyc
__pycache__/
Pipfile.lock
/amazing_ressources/images_azure_upload/
!/amazing_ressources/images_azure_upload/.noignore
/amazing_ressources/azure_images_upload/*.sh
/amazing_ressources/azure_images_upload/*.png
