[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]
python_version = "3.7.0"


[packages]
Django = "*"
django-heroku = "*"
gunicorn = "*"
argon2-cffi = "*"
phonenumbers = "*"
django-phonenumber-field = "*"
social-auth-core = "*"
social-auth-app-django = "*"
azure = "*"
django-storages = "*"
django-split-settings = "*"
django-cors-headers = "*"

[dev-packages]