[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7.0"

[packages]
"psycopg2-binary" = "*"
django-heroku = "*"
gunicorn = "*"
django-bootstrap4 = "*"
argon2-cffi = "*"

[dev-packages]

