/* 1. Global
//////////////////////*/
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 4rem;
}

/* 1.1 Header and Footer Styles
//////////////////////*/
.headerFooterBackground {
	background-color: #ECEEEF;
}

/* Header - Nav
//////////////////////*/
.resetIconStylesEYE {
  border: none;
  background: none;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 1rem;
	padding-top: 15px;
}

.footer_heartIcon {
	color: red;
}

/* 2. CSS on individual pages only
//////////////////////*/


/* 3. CSS reused across >=2 pages
Sign Up Pages {logic, reset pswd, etc}
//////////////////////*/
.passwordReset {
	width: 100%;
	max-width: 420px;
	padding: 15px;
	margin-bottom: 100px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	/* https://www.cssmatic.com/box-shadow */
	box-shadow: -5px 1px 65px 16px rgba(0,0,0,0.31);
}

.passwordReset > .form-group.spacing {
	margin-bottom: 10px;
}

.privacyPolicyContentBox {
	border: 1px solid black;
}

/* Login 
https://developers.google.com/identity/branding-guidelines */
.login_register_box {
	padding: 15px;
	margin-top: 60px;
}

/* OR in the circle
////////////////////*/
.verticalLine {
	width: 3px;
	background-color: #2ecc71;
}

.verticalLine > .circle {
	position: relative;
	top: 40%;
	left: -50px;
	width: 100px;
	height: 100px;
	background-color: #ECEEEF;
}

.verticalLine > h3 {
	line-height: 100px;
}

.horizontalLine {
	width: 100%;
	height: 3px;
	background-color: #2ecc71;
}

.horizontalLine > .circle {
	position: relative;
	width: 100px;
	left: 35%;
	top: -50px;
	height: 100px;
	background-color: #ECEEEF;
}

.horizontalLine > h3 {
	line-height: 100px;
}

.google_signin {
	height: 46px;
	background: url('https://djangowohnreal1.blob.core.windows.net/images/btn_google_signin_dark_normal_web.png') no-repeat;
}

.google_signin:hover {
	height: 46px;
	background: url('https://djangowohnreal1.blob.core.windows.net/images/btn_google_signin_dark_focus_web.png') no-repeat;
}

.google_signin:active {
	height: 46px;
	background: url('https://djangowohnreal1.blob.core.windows.net/images/btn_google_signin_dark_pressed_web.png') no-repeat;
}

.twitter_singin {
	height: 46px;
	width: 240px;
	background-color: #1DA1F2;
}

.twitter_icon {
	background: url("https://djangowohnreal1.blob.core.windows.net/images/Twitter_Social_Icon_Square_Color.png") no-repeat;
	float: left;
	height: 40px;
	width: 40px;
	margin-left: -3px;
}


