/* Sign Up Pages {logic, reset pswd, etc}
//////////////////////*/
.passwordReset {
	width: 100%;
	max-width: 420px;
	padding: 15px;
	margin-bottom: 100px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	/* https://www.cssmatic.com/box-shadow */
	box-shadow: -5px 1px 65px 16px rgba(0,0,0,0.31);
}

.passwordReset.form-group.spacing {
	margin-bottom: 10px;
}

/* Login */
.google_signin {
	height: 100px;
	background: url('https://djangowohnreal1.blob.core.windows.net/images/btn_google_signin_dark_normal_web.png') no-repeat;
}

.google_signin:focus {
	background: url('https://djangowohnreal1.blob.core.windows.net/images/btn_google_signin_dark_focus_web.png') no-repeat;
}

.google_signin:active {
	background: url('https://djangowohnreal1.blob.core.windows.net/images/btn_google_signin_dark_pressed_web.png') no-repeat;
}

.verticalLine {

}

/* Header and Footer Styles
//////////////////////*/
.headerFooterBackground {
	background-color: #ECEEEF
}

/* Header - Nav
//////////////////////*/

.resetIconStylesEYE {
  border: none;
  background: none;
}

/* Footer
//////////////////////*/
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* height: 5rem; */
	line-height: 1rem;
	overflow: hidden;
	padding-top: 15px;
}

.heartIcon {
	color: red;
}