{% extends 'base.html' %}

{% block title %}B40.cz - Contact us{% endblock %}

{% block descip %}Contact people behind B40.cz{% endblock %}

{% block robots %}index, follow{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">

	<!-- Because of Recaptcha login -->
	<script src='https://www.google.com/recaptcha/api.js?render=6LeZy3MUAAAAALMLtwqi7aTHvXnvdY6sx5ALYVp5'></script>

	<script>
	// execute function and output the token into the browser console
	grecaptcha.ready(function() {
		grecaptcha.execute('6LeZy3MUAAAAALMLtwqi7aTHvXnvdY6sx5ALYVp5', {action: 'contact'}).then(function(token) {
			console.log(token);
			$("#recaptchaValidator").val(token);
		});
	});
	// used for automatically binding the challenge to a button/form
	function onSubmit(token) {
		document.getElementById("form-contact").submit();
	}
    </script>

	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					Contact
				</div>
				<div class="card-body">
					<script type="text/javascript">
					//<![CDATA[
					<!--
					var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
					"=53){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
					".substr(0,ol);}f(\")301,\\\"w{q`jy'jx&/a,V_Py500\\\\030\\\\e]Z620\\\\Y]R_T0" +
					"20\\\\@Zr\\\\GHCEk500\\\\z030\\\\AOVHT?<Afx4tyylpgS}z~jmceh0f|kodi!^<f330\\" +
					"\\710\\\\420\\\\[330\\\\EZ_030\\\\130\\\\120\\\\700\\\\330\\\\300\\\\700\\\\"+
					"A230\\\\300\\\\t\\\\600\\\\730\\\\n\\\\700\\\\300\\\\\\\"(f};o nruter};))++" +
					"y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y{)++i;l<i;0=i(rof;htgnel.x=" +
					"l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"                                       ;
					while(x=eval(x));
					//-->
					//]]>
					</script>
				</div>
			</div>	

			<div class="responsive-map">
				<iframe class="mt-5" src="https://api.mapy.cz/frame?params=%7B%22x%22%3A14.419088677425833%2C%22y%22%3A50.08932926711133%2C%22base%22%3A%221%22%2C%22layers%22%3A%5B%5D%2C%22zoom%22%3A17%2C%22url%22%3A%22https%3A%2F%2Fen.mapy.cz%2Fs%2F3983p%22%2C%22mark%22%3A%7B%22x%22%3A%2214.419083313007807%22%2C%22y%22%3A%2250.089570190430784%22%2C%22title%22%3A%22ulice%20Pa%C5%99%C3%AD%C5%BEsk%C3%A1%2097%2F15%2C%20Praha%22%7D%2C%22overview%22%3Afalse%7D&amp;width=500&amp;height=333&amp;lang=en" width="500" height="333" style="border:none" frameBorder="0"></iframe>
			</div>
		</div>

		{# Hide on mobile #}
		<div class="col-md-1 "></div>

		<div class="col-md-5">
			<form method="POST" id="form-contact" class="mb-5">
				{% csrf_token %}
				{{ form|crispy }}
				<button type="submit" name="g-recaptcha-response" class="btn btn-warning float-right btn-lg g-recaptcha" id="recaptchaValidator" data-callback="onSubmit" data-sitekey="6LeZy3MUAAAAALMLtwqi7aTHvXnvdY6sx5ALYVp5">Submit</button>
				<button type="submit" name="g-recaptcha-response" class="btn btn-warning float-right btn-lg btn-block d-md-inline-flex d-none d-md-block g-recaptcha" id="recaptchaValidator" data-callback="onSubmit" data-sitekey="6LeZy3MUAAAAALMLtwqi7aTHvXnvdY6sx5ALYVp5">Submit</button>
			</form>

			{% if messages %}		
				{% for message in  messages %}
					<div class="alert alert-{{ message.tags }} mb-5" id="checkEmailAlert" role="alert">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}