/* 1. Global
//////////////////////*/
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 4rem;
}

textarea {
	width: 100%;
}


/* 2. CSS on "individual" pages
//////////////////////
*/

/* //////////////////
Adminstrace - Dashboard
*/
.card_homepage_styling,
.card_homepage_styling:hover,
.card_homepage_styling:visited,
.card_homepage_styling:link,
.card_homepage_styling:active {
	text-decoration: none !important;
	color: inherit;
}

.horizontal_line {
	width: auto;
	height: 30px;
	font-size: .75rem;
	text-transform: uppercase;
}

/* ///////////////////
User Messages
*/
.no-messages {
	font-size: 1.2rem;
	padding: .5rem;
	background: #f8f9fa;
	border: 1px solid #e9ecef;
	color: #868e96;
	border-radius: 5px;
	text-align: center;
	margin-top: 20px;
}

.with-actions {
    display: flex;
    justify-content: space-between;
}

/* //////////////////
Contact page - Make responsive page iframe
*/
.responsive-map {
    width:100%;
}

/* Password Reset Email
Sign Up Pages {logic, reset pswd, etc}
//////////////////////*/
.passwordReset {
	width: 100%;
	max-width: 420px;
	padding: 15px;
	margin-bottom: 100px;
	margin-top: 80px;
	margin-right: auto;
	margin-left: auto;
	/* https://www.cssmatic.com/box-shadow */
	box-shadow: -5px 1px 65px 16px rgba(0,0,0,0.31);
}

.passwordReset > .form-group.spacing {
	margin-bottom: 10px;
}

.privacyPolicyContentBox {
	border: 1px solid black;
}

/* User Profile
*/
.iti__flag {background-image: url("https://cdn.jsdelivr.net/npm/intl-tel-input@16.0.7/build/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("https://cdn.jsdelivr.net/npm/intl-tel-input@16.0.7/build/img/flags@2x.png");}
}

/* Login
https://developers.google.com/identity/branding-guidelines */
.login_register_box {
	padding: 50px 15px 50px 15px;
}

.login_register_box > .box_within {
	border: 1px solid black;
}

.messageErrorLoginSignup {
	margin-top: 6rem;
}


/*  ///////////////////
Make typography responsive
*/
.custom-display-text-size {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.2;
}

@media(min-width: 544px) {
  .custom-display-text-size {
	font-size: 3.5rem;
	font-weight: 300;
	line-height: 1.2;
  }
}

@media (min-width: 768px) {
  .custom-display-text-size {
	font-size: 5rem;
	font-weight: 300;
	line-height: 1.2;
  }
}

@media (min-width: 992px) {
  .custom-display-text-size {
	font-size: 6rem;
	font-weight: 300;
	line-height: 1.2;
  }
}

