
/* Header and Footer Styles
//////////////////////*/
.headerFooterBackground {
	background-color: #ECEEEF
}

/* Header - Nav
//////////////////////*/

/* Footer
//////////////////////*/
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2em;
    line-height: 1em; /* the height of one text line */
    overflow: hidden;
}

.heartIcon {
	color: red;
}