{% extends 'base.html' %}

{% block title %}B40.cz - Register to add new listings{% endblock %}

{% block descip %}Register a new account for adding new offers - B40.cz{% endblock %}

{% block robots %}index, follow{% endblock %}

{% block content %}
    <div class="row align-items-center">
    	<div class="col-md-6">
			<div class="google_signin"></div>
       	</div>
    	
    	<div class="verticalLine">OR</div>

    	<div class="col-md-6">
			<div class="card-header text-center">
				<h1 class="card-title">Reset your password</h1>
				<p class="text-muted">Step 2</p>
			</div>
			<div class="card-body">
				<form action="" method="POST">
					<div class="form-group spacing">
						<div class="input-group">
							<input class="form-control" type="text" id="inputUsername" class="form-control" placeholder="Username">
							<label class="sr-only" for="inputUsername">Username</label>
						</div>
					</div>
					<div class="form-group spacing">
						<div class="input-group">
							<input class="form-control" type="password" id="inputConfirmNewPassword" class="form-control" placeholder="Confirm new password">
							<div class="input-group-append mr-1">
								<span class="input-group-text" id="inputGroupAppend">
									<button href="" class="fa fa-eye fa-lg resetIconStylesEYE" id="buttonEYE3" aria-hidden="true" type="button"></button>
								</span>
							</div>
							<label class="sr-only" for="inputConfirmNewPassword">Confirm new password</label>
						</div>
					</div>

					<button type="button" class="btn btn-dark float-right btn-lg" value="submit">Set new password</button>
				</form>
	    	</div>
	    </div>
	</div>
{% endblock %}