{% extends 'base.html' %}

{% block title %}B40.cz - Register to add new listings{% endblock %}

{% block descip %}Register a new account for adding new offers - B40.cz{% endblock %}

{% block robots %}index, follow{% endblock %}

{% block content %}
	<!-- Because of Facebook login -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

    <div class="row align-items-center">
    	<div class="col-md-6">
    		<!-- Google Brand Guidelines on Azure/ in CSS: https://developers.google.com/identity/branding-guidelines -->
			<div class="google_signin m-3"></div>

			<!-- Twitter Brand Guidelines on Azure/ in CSS -->
			<div class="twitter_singin twitter_icon m-3"><p>Login with Twitter</p></div>

			<!-- https://developers.facebook.com/docs/facebook-login/web/login-button -->
			<div class="fb-login-button m-3" data-width="15" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false"></div>
       	</div>
    	
    	<div class="verticalLine">OR</div> <!-- https://bootsnipp.com/snippets/AVbzx -->

    	<div class="col-md-6">
			<div class="card-header text-center">
				<h1 class="card-title">Register</h1>
			</div>
			<div class="card-body">
				<form action="" method="POST">
					<div class="form-group spacing">
						<div class="input-group">
							<input class="form-control" type="text" id="inputEmail" class="form-control" placeholder="Email">
							<label class="sr-only" for="inputEmail">Email</label>
						</div>
					</div>
					<div class="form-group spacing">
						<div class="input-group">
							<input class="form-control" type="text" id="inputUsername" class="form-control" placeholder="Username">
							<label class="sr-only" for="inputUsername">Username</label>
						</div>
					</div>
					<div class="form-group spacing">
						<div class="input-group">
							<input class="form-control" type="password" id="inputPassword" class="form-control" placeholder="New password">
							<div class="input-group-append">
								<span class="input-group-text" id="inputGroupAppend">
									<button href="" class="fa fa-eye fa-lg resetIconStylesEYE" id="buttonEYE3" aria-hidden="true" type="button"></button>
								</span>
							</div>
							<label class="sr-only" for="inputPassword">New password</label>
						</div>
					</div>

					<button type="button" class="btn btn-warning float-right btn-lg" value="submit">Register</button>
				</form>
	    	</div>
	    </div>
	</div>

	<script>
	window.fbAsyncInit = function() {
		FB.init({
		  appId      : '525287897910870',
		  cookie     : true,
		  xfbml      : true,
		  version    : 'v3.1'
		});
		FB.AppEvents.logPageView();
	};

	(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "https://connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
{% endblock %}