{% extends 'base.html' %}

{% block title %}B40.cz - Reset your password{% endblock %}

{% block descip %}Provide your username or email address to reset your password - B40.cz{% endblock %}

{% block robots %}index, follow{% endblock %}

{% block content %}
	<div class="row passwordReset">
		<div class="text-center">
		    <div class="border border-warning">
				<h1 class="display-5">Reset your password</h1>
				<p class="text-center">Step 1</p>
				<hr />
				<form action="" method="POST">
					<div class="form-group spacing">
						<input class="form-control" type="email" id="inputEmail_Username" class="form-control" placeholder="Your email or username" required autofocus>
						<label class="sr-only" for="inputEmail_Username">Your email or username</label>
					</div>

					<button type="button" class="btn btn-dark btn-block btn-lg" value="Reset">Reset</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}