{% extends 'base.html' %}

{% block title %}B40.cz - Login{% endblock %}

{% block descip %}Login into your user administration - B40.cz{% endblock %}

{% block robots %}index, follow{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">

	<!-- Because of Recaptcha login -->
	<script src='https://www.google.com/recaptcha/api.js?render=6LeZy3MUAAAAALMLtwqi7aTHvXnvdY6sx5ALYVp5'></script>

	<script>
	grecaptcha.ready(function() {
		grecaptcha.execute('6LeZy3MUAAAAALMLtwqi7aTHvXnvdY6sx5ALYVp5', {action: 'login'}).then(function(token) {
			console.log(token);
		});
	});
	
	function onSubmit(token) {
		document.getElementById("form-login").submit();
	}
    </script>
    
    <!-- Because of Facebook login -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

    <div class="row d-flex justify-content-center login_register_box">
    	<div class="card text-center bg-light border-dark col-md-5 col-lg-3 mr-1">

    		<!-- Google Brand Guidelines on Azure/ in CSS: https://developers.google.com/identity/branding-guidelines -->
			<div class="m-3">
				<a type="button" class="btn btn-primary google_signin" href="{% url 'social:begin' 'google-oauth2' %}">
					<img class="google_icon" src="https://djangowohnreal1.blob.core.windows.net/images/btn_google_dark_normal_ios.svg">
					<p class="text-center mt-1 text-white">Log In With Google</p>
				</a>
			</div>

			<!-- Twitter Brand Guidelines on Azure/ in CSS -->
			<div class="m-3">
				<a type="button" class="btn btn-info twitter_singin" href="{% url 'social:begin' 'twitter' %}">
					<img class="twitter_icon" src="https://djangowohnreal1.blob.core.windows.net/images/Twitter_Logo_Blue.svg">
					<p class="text-center mt-1 text-white">Log In With Twitter</p>
				</a>
			</div>
				
			<!-- https://developers.facebook.com/docs/facebook-login/web/login-button -->
			<div class="m-3">
				<a type="button" class="btn btn-white facebook_singin" href="{% url 'social:begin' 'facebook' %}">
					<img class="facebook_icon" src="https://djangowohnreal1.blob.core.windows.net/images/flogo-HexRBG-Wht-58.svg">
					<p class="text-center mt-1 text-white">Log In With Facebook</p>
				</a>
			</div>

       	</div>
    	
    	<!-- show on display size between xs and sm -->
    	<div class="horizontalLine d-block d-xs-block d-sm-none pt-1 pb-1 my-5">
    		<h3 class="circle rounded-circle border border-warning m-0 text-center">OR</h3>
    	</div>

    	<!-- show on display size between md and xl -->
    	<div class="verticalLine d-none d-md-block d-xl-block mx-5">
    		<h3 class="circle rounded-circle border border-warning m-0 text-center">OR</h3>
    	</div>

    	<div class="card bg-light border-dark col-md-5 col-lg-4">
			<div class="card-header text-center">
				<h1 class="card-title">Login</h1>
			</div>
			<div class="card-body">
				<form id = "form-login" method="POST">
					{% csrf_token %}
					<div class="form-group spacing">
						<div class="input-group">
							<input class="form-control" type="text" id="inputEmail_Username" name="inputEmail_Username"  placeholder="Your email or username">
							<label class="sr-only" for="inputEmail_Username">Your email or username</label>
						</div>
					</div>
					<div class="form-group spacing">
						<div class="input-group">
							<!-- when header already contains `buttonEYE` then here one needs a different id attr. -->
							<input type="password" id="inputNewPassword" name="inputNewPassword" class="form-control" placeholder="Password">
							<div class="input-group-append">
								<span class="input-group-text" id="inputGroupAppend">
									<button href="" class="fa fa-eye fa-lg resetIconStylesEYE" id="buttonEYE2" aria-hidden="true" type="button"></button>
								</span>
							</div>
							<label class="sr-only" for="inputNewPassword">Password</label>
						</div>
					</div>

					<p class="float-left"><a href="{% url 'reset_password' %}">Forgot your username or password?</a></p>

					<!-- Also includes Google Recaptcha v3 -->
					<button type="submit" class="btn btn-warning float-right btn-lg g-recaptcha" data-sitekey="6LfeynMUAAAAAMBkT9sQl4lxNfwtdElwWc8pFuCz" value="submit" data-callback="onSubmit">Login</button>
				</form>
	    	</div>

			{% if messages %}		
				{% for message in  messages %}
					<div class="alert alert-{{ message.tags }}" id="checkEmailAlert" role="alert">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
	    </div>
	</div>

	<script>
	window.fbAsyncInit = function() {
		FB.init({
		  appId      : '525287897910870',
		  cookie     : true,
		  xfbml      : true,
		  version    : 'v3.1'
		});
		FB.AppEvents.logPageView();
	};

	(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "https://connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</div>
{% endblock %}