{% extends 'base.html' %}

{% block title %}B40.cz - Register to add new listings{% endblock %}

{% block descip %}Register a new account for adding new real estate listings - B40.cz{% endblock %}

{% block robots %}index, follow{% endblock %}

{% block content %}
<div class="container-fluid">

	<!-- Because of Facebook login -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

    <div class="row d-flex justify-content-center login_register_box">
    	<div class="card text-center bg-light border-dark col-md-5 col-lg-3 mr-1">

    		<!-- Google Brand Guidelines on Azure/ in CSS: https://developers.google.com/identity/branding-guidelines -->
			<div class="m-3">
				<a type="button" class="btn btn-primary google_signin" href="{% url 'social:begin' 'google-oauth2' %}">
					<img class="google_icon" src="https://djangowohnreal1.blob.core.windows.net/images/btn_google_dark_normal_ios.svg">
					<p class="text-center mt-2 text-white">Sign Up With Google</p>
				</a>
			</div>

			<!-- Twitter Brand Guidelines on Azure/ in CSS -->
			<div class="m-3">
				<a type="button" class="btn btn-info twitter_singin" href="{% url 'social:begin' 'twitter' %}">
					<img class="twitter_icon" src="https://djangowohnreal1.blob.core.windows.net/images/Twitter_Social_Icon_Square_Color.png">
					<p class="text-center mt-2 text-white">Sign Up With Twitter</p>
				</a>
			</div>
				
			<!-- https://developers.facebook.com/docs/facebook-login/web/login-button -->
			<a href="{% url 'social:begin' 'facebook' %}" type="button" role="button" class="btn btn-white fb-login-button m-3" data-width="15" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false"></a>
       	</div>
    	
    	<!-- show on display size between xs and sm -->
    	<div class="horizontalLine d-block d-xs-block d-sm-none pt-1 pb-1 my-5">
    		<h3 class="circle rounded-circle border border-warning m-0 text-center">OR</h3>
    	</div>

    	<!-- show on display size between md and xl -->
    	<div class="verticalLine d-none d-md-block d-xl-block mx-5">
    		<h3 class="circle rounded-circle border border-warning m-0 text-center">OR</h3>
    	</div>

    	<div class="card bg-light border-dark col-md-5 col-lg-4">
			<div class="card-header text-center">
				<h1 class="card-title">Register</h1>
			</div>
			<div class="card-body">
				<form action="user_profile" method="POST">{% csrf_token %}
					<div class="form-group spacing">
						<div class="input-group">
							<input class="form-control" type="email" id="inputEmail" placeholder="Email">
							<label class="sr-only" for="inputEmail">Email</label>
						</div>
					</div>
					<div class="form-group spacing">
						<div class="input-group">
							<input type="text" id="inputUsername" class="form-control" placeholder="Username">
							<label class="sr-only" for="inputUsername">Username</label>
						</div>
					</div>
					<div class="form-group spacing">
						<div class="input-group">
							<!-- when header already contains `buttonEYE` then here one needs a different id attr. -->
							<input class="form-control" type="password" id="inputNewPassword" placeholder="New Password">
							<div class="input-group-append">
								<span class="input-group-text" id="inputGroupAppend">
									<button href="" class="fa fa-eye fa-lg resetIconStylesEYE" id="buttonEYE2" aria-hidden="true" type="button"></button>
								</span>
							</div>
							<label class="sr-only" for="inputNewPassword">New Password</label>
						</div>
					</div>

					<p class="float-left"><a href="reset_password">Forgot your username or password?</a></p>
					<button type="button" href="" class="btn btn-warning float-right btn-lg" value="submit">Register</button>
				</form>
	    	</div>
	    </div>
	</div>

	<script>
	window.fbAsyncInit = function() {
		FB.init({
		  appId      : '525287897910870',
		  cookie     : true,
		  xfbml      : true,
		  version    : 'v3.1'
		});
		FB.AppEvents.logPageView();
	};

	(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "https://connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</div>
{% endblock %}