{% extends 'base.html' %}

{% block title %}B40.cz - Reset your password{% endblock %}

{% block descip %}Provide your username or email address to reset your password - Step 1 of 2 - B40.cz{% endblock %}

{% block robots %}index, follow{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row card passwordReset">
		<div class="card-header text-center">
			<h1 class="card-title">Reset your password</h1>
			<p class="card-subtitle text-muted">Step 1 of 2</p>
		</div>
		<div class="card-body">
			<form id="form-reset-password" method="POST">
				{% csrf_token %}
				<div class="form-group spacing">
					<input class="form-control" type="text" id="inputEmail_Username" name = "inputEmail_Username" class="form-control" placeholder="Your email or username" required autofocus>
					<label class="sr-only" for="inputEmail_Username">Your email or username</label>
				</div>

				<button type="submit" id="emailSendAlert" class="btn btn-dark float-right btn-lg" value="submit">Reset</button>
			</form>
		</div>

		{% if messages %}
		<!-- TODO Show message if submitted successfully  not working because always present <> jS ||| Maybe a model page also ok -->
		<div class="alert alert-warning" id="checkEmailAlert" role="alert">
			<h6 class="alert-heading">Password reset was successful!</h6>
			<p>Check your email now to set a new one.</p>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% comment %}
if user is not authenticated
	If username or email is correct
		then shows alert message
	if incorrect 
		then a different alert message
else 
	show a profile page where he can change it by himself
{% endcomment %}