{% extends 'base.html' %}

{% block title %}B40.cz - Reset your password{% endblock %}

{% block descip %}Provide your new password - Step 2 of 2 - B40.cz{% endblock %}

{% block robots %}noindex, follow{% endblock %}

{% block content %}

{% if not user.is_authenticated %}
<div class="container-fluid">

	<!-- Because of Recaptcha login -->
	<script src='https://www.google.com/recaptcha/api.js?render=6LeZy3MUAAAAALMLtwqi7aTHvXnvdY6sx5ALYVp5'></script>

	<script type="text/javascript">
	// execute function and output the token into the browser console
	grecaptcha.ready(function() {
		grecaptcha.execute('6LeZy3MUAAAAALMLtwqi7aTHvXnvdY6sx5ALYVp5', {action: 'register'}).then(function(token) {
			console.log(token);
			$("#recaptchaValidator").val(token);
		});
	});
	</script>

	<script>
	// used for automatically binding the challenge to a button/form
	function onSubmit(token) {
		document.getElementById("form-reset-password").submit();
	}
    </script>

	<div class="row card passwordReset">
		<div class="card-header text-center">
			<h1 class="card-title">Reset your password</h1>
			<p class="text-muted">Step 2 of 2</p>
		</div>
		<div class="card-body">
			<form action="" method="POST" id="form-new-password">
				{% csrf_token %}
				<div class="form-group spacing">
					<div class="input-group">
						<input class="form-control" type="password" id="inputNewPassword" name="inputNewPassword" nameclass="form-control" placeholder="New password" required autofocus>
						<div class="input-group-append mr-1">
							<span class="input-group-text" id="inputGroupAppend">
								<button class="fa-eye resetIconStylesEYE" id="buttonEYE2" aria-hidden="true" type="button">
									<i class="fas fa-eye fa-lg"></i>
								</button>
							</span>
						</div>
						<label class="sr-only" for="inputNewPassword">New password</label>
					</div>
				</div>
				<div class="form-group spacing">
					<div class="input-group">
						<input class="form-control" type="password" id="inputConfirmNewPassword" name="inputConfirmNewPassword" placeholder="Confirm new password" required autofocus>
						<div class="input-group-append mr-1">
							<span class="input-group-text" id="inputGroupAppend">
								<button class="fa-eye resetIconStylesEYE" id="buttonEYE3" aria-hidden="true" type="button">
									<i class="fas fa-eye fa-lg"></i></button>
							</span>
						</div>
						<label class="sr-only" for="inputConfirmNewPassword">Confirm new password</label>
					</div>
				</div>

				<button type="submit" class="btn btn-dark float-right btn-lg g-recaptcha" id="recaptchaValidator" data-sitekey="6LeZy3MUAAAAALMLtwqi7aTHvXnvdY6sx5ALYVp5" name="g-recaptcha-response" data-callback="onSubmit">Set new password</button>
			</form>
		</div>

		{% if messages %}		
			{% for message in  messages %}
				<div class="alert alert-{{ message.tags }}" id="checkEmailAlert" role="alert">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
	</div>
</div>
{% endif %}
{% endblock %}