<footer class="footer headerFooterBackground">
	<div class="container-fluid">
		<div class="row">
			<div class="float-left">
				<p>Made with <i class="fa fa-heart heartIcon" aria-hidden="true"></i> by <a href="https://www.linkedin.com/in/dmitrijpetrov/" target="_blank">Dmitrij Petrov</a> <br>
					<small class="text-muted font-italic">Source Code available under the <a href="https://choosealicense.com/licenses/mit/" target="_blank">MIT license</a> <a href="https://github.com/dmpe/django-wohn" target="_blank">on GitHub</a></small>
				</p>
			</div>

			<div class="float-right">
				<ul class="list-inline">
					<li class="list-inline-item"><a type="button" href="" class="btn btn-outline-info">About</a></li>
					<li class="list-inline-item"><a type="button" href="" class="btn btn-outline-info">Contact us</a></li>
					<li class="list-inline-item"><a type="button" href="" class="btn btn-outline-info">Privacy policy</a></li>
					<li class="list-inline-item"><a type="button" href="" class="btn btn-outline-info">Terms of Use</a></li>
				</ul>
			</div>

		</div>

	</div>

</footer>






