<footer class="footer headerFooterBackground">
	<div class="container-fluid">
		<div class="row">
			<div class="float-left">
				Made with <i class="fa fa-heart heartIcon" aria-hidden="true"></i> by <a href="https://www.linkedin.com/in/dmitrijpetrov/" target="_blank">Dmitrij Petrov</a>	
				
				<div class="text-muted font-italic">Source Code available under the <a href="https://choosealicense.com/licenses/mit/" target="_blank">MIT license</a> <a href="https://github.com/dmpe/django-wohn" target="_blank">on GitHub</a></div>
			</div>
			
			<div class="float-right">
				<ul class="list-inline">
					<li><a href="">About</a></li>
					<li><a href="">Contact us</a></li>
					<li><a href="">Privacy policy</a></li>
					<li><a href="">Terms of Use</a></li>
				</ul>
			</div>

		</div>

	</div>

</footer>






