{% block header_nav %}

<nav class="navbar navbar-expand-md navbar-light" style="background-color: #ECEEEF">
	<a class="navbar-brand mb-0 h1" href="index.html">B40.cz
		<span class="navbar-text">
			Find your student apartment, for free
		</span>
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<form class="form" action="" method="post">
			{% csrf_token %}
			{% bootstrap_form form %}
			{% buttons %}

			{% endbuttons %}

		</form>
	</div>
	
</nav>

{% endblock %}