{% extends 'base.html' %}

{% block title %}B40.cz - Reset your password{% endblock %}

{% block descip %}Provide your username or email address to reset your password - Step 1 of 2 - B40.cz{% endblock %}

{% block robots %}index, follow{% endblock %}

{% block content %}

{% comment %}
	if user is not authenticated
{% endcomment %}

{% if not user.is_authenticated %}
<div class="container-fluid">

	<!-- Because of Recaptcha login -->
	<script src='https://www.google.com/recaptcha/api.js?render=6LeZy3MUAAAAALMLtwqi7aTHvXnvdY6sx5ALYVp5'></script>

	<script type="text/javascript">
	// execute function and output the token into the browser console
	grecaptcha.ready(function() {
		grecaptcha.execute('6LeZy3MUAAAAALMLtwqi7aTHvXnvdY6sx5ALYVp5', {action: 'register'}).then(function(token) {
			console.log(token);
			$("#recaptchaValidator").val(token);
		});
	});
	</script>

	<script>
	// used for automatically binding the challenge to a button/form
	function onSubmit(token) {
		document.getElementById("form-reset-password").submit();
	}
    </script>

	<div class="row card passwordReset">
		<div class="card-header text-center">
			<h1 class="card-title">Reset your password</h1>
			<p class="card-subtitle text-muted">Step 1 of 2</p>
		</div>
		<div class="card-body">
			<form id="form-reset-password" method="POST">
				{% csrf_token %}
				<div class="form-group spacing">
					<input class="form-control" type="text" id="inputEmail_Username" name = "inputEmail_Username" placeholder="Your email or username" required autofocus>
					<label class="sr-only" for="inputEmail_Username">Your email or username</label>
				</div>

				<button type="submit" class="btn btn-dark float-right btn-lg g-recaptcha" id="recaptchaValidator" data-sitekey="6LeZy3MUAAAAALMLtwqi7aTHvXnvdY6sx5ALYVp5" name="g-recaptcha-response" data-callback="onSubmit">Reset</button>
			</form>
		</div>

		{% comment %}
			If username or email is correct
				then shows alert message
			if incorrect 
				then a different alert message
		{% endcomment %}
		{% if messages %}		
			{% for message in  messages %}
				<div class="alert alert-{{ message.tags }}" id="checkEmailAlert" role="alert">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
	</div>
</div>

{% comment %}
else 
	show a profile page where he can change it by himself
{% endcomment %}
{% else %}
    <script>
        var timer = setTimeout(function() {
            window.location = 'https://b40re.tk/administrace/user_profile'
        }, 1000);
    </script>
{% endif %}

{% endblock %}

