[Unit]
Description=pgadmin4 server
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/usr/share/pgadmin4/web
ExecStart=python3 pgAdmin4.py

[Install]
WantedBy=multi-user.target
