{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}{% endblock %}</title>

    <meta name="description" content="{% block descip %}{% endblock %}">
    <meta name="robots" content="{% block robots %}{% endblock %}">
    <!--
      https://favicon.io/favicon-generator/?t=b40&ff=Jacques+Francois&fs=65&fc=%23000&b=rounded&bc=%23DDD
    	https://www.1and1.com/favicon-generator
    -->
    <link rel="shortcut icon" type="image/png" href="https://melivexyz5555.blob.core.windows.net/images/favicon.ico"/>
    <!--
    Frondend Rewrite: uses now vue.js
    -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Google APIs -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="806673580943-k6elktab5ohhlsnc1pdnlvil3an1roa7.apps.googleusercontent.com">
    <meta name="google-signin-scope" content="profile email">

    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- Load CSS: Bootstrap + font-awesome + JavaScript Jquery -->
    {% include 'library_templates/js/bootstrap_fontAwe.html' %}
    {% include 'library_templates/js/jquery_popper.html' %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'global_styles.css' %}">

    {% block additional_head %}{% endblock %}

    {% include "library_templates/webtools_verification.html" %}

    {% include "library_templates/js/tracking_js.html" %}

  </head>
  <body>
    {% include 'header.html' %}

    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}
    {% include "library_templates/js/bootstrap_fontAwe.html" %}

    <script src="{% static 'global_js.js' %}"></script>
  </body>
</html>
