{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block description %}This page has a description.{% endblock %}

{% block robots %}noindex, nofollow{% endblock %}

{% block content %}
<div class="container-fluid">

{% if user.is_authenticated %}
	<p class="lead">Hi {{ user.username }}!</p>
	<p>Check your profile</p>
	<a href="{% url 'user_profile' %}" class="btn btn-warning btn-lg" type="button" role="button">My profile</a>
{% else %}
  <p>You are not logged in</p>
  <button href="{% url 'login' %}" class="btn btn-lg btn-primary">login</button>
{% endif %}
</div>



{% endblock %}
