{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block description %}This page has a description.{% endblock %}

{% block robots %}noindex, nofollow{% endblock %}

{% block content %}
<div class="container-fluid">

{% if user.is_authenticated %}
	<p class="lead">Hi {{ user.username }}!</p>
	
	<p>Check your profile</p>
	<a href="{% url 'user_profile' %}" class="btn btn-warning btn-lg" type="button" role="button">My profile</a>
	
	<div class="row">
	    <div class="col-md-3">
	        
	    </div>
	    
	    <div class="col-md-9">
	        
	    </div>
	    
	</div>
	
	<div class="list-group">
		<a href="{% url 'userMng_index' %}" class="list-group-item list-group-item-action active">
			Homepage
		</a>
		<a href="{% url 'user_profile' %}" class="list-group-item list-group-item-action">My Profile</a>
		<a href="{% url '' %}" class="list-group-item list-group-item-action">
			Properties
		    <span class="badge badge-primary badge-pill">{{ count_my_properties }}</span>
		</a>
	</div>	
	
	
	
{% else %}
  <p>You are not logged in</p>
  <button href="{% url 'login' %}" class="btn btn-lg btn-primary">login</button>
{% endif %}
</div>



{% endblock %}
