{% with url_name=request.resolver_match.url_name %}

<aside class="col-md-2 bg-light sidebar sticky-top pt-5">
    <ul class="nav flex-column">
    	<li class="nav-item"> 
        	<a href="{% url 'userMng_index' %}" class="nav-link {% if url_name == 'userMng_index' %}active{% endif %}">
        		<i class="fas fa-home"></i>
        		Homepage
    		</a>
    	</li>
    	<li class="nav-item"> 
    	    <a href="{% url 'user_profile' %}" class="nav-link {% if url_name == 'user_profile' %}active{% endif %}">
        	    <i class="fas fa-user"></i>
        	    My Profile
        	</a>
    	</li>
    	<li class = "nav-item">
        	<a href="{% url 'user_properties' %}" class="nav-link {% if url_name == 'user_properties' %}active{% endif %}">
        	    <i class="fas fa-hotel"></i>
        		Properties
        	    <span class="badge badge-light badge-pill"> 45 {{ count_my_properties }}</span>
        	</a>
    	</li>
    </ul>
</aside>

{% endwith %}