{% with url_name=request.resolver_match.url_name %}

<div class="col-md-3">
    <div class="list-group">
    	<a href="{% url 'userMng_index' %}" class="list-group-item list-group-item-action {% if url_name == 'userMng_index' %}active{% endif %}">
    		Homepage
    	</a>
    	<a href="{% url 'user_profile' %}" class="list-group-item list-group-item-action {% if url_name == 'user_profile' %}active{% endif %}">My Profile</a>
    	<a href="{% url 'user_properties' %}" class="list-group-item list-group-item-action {% if url_name == 'user_properties' %}active{% endif %}">
    		Properties
    	    <span class="badge badge-primary badge-pill">{{ count_my_properties }}</span>
    	</a>
    </div>
</div>

{% endwith %}