{% with url_name=request.resolver_match.url_name %}

<aside class="col-md-2 pt-3">
    <ul class="nav d-md-flex flex-md-column d-none d-sm-none d-md-block">
    	<li class="nav-item"> 
        	<a href="{% url 'userMng_index' %}" class="nav-link {% if url_name == 'userMng_index' %}active{% endif %}">
        		<i class="fas fa-home"></i>
        		Homepage
    		</a>
    	</li>
    	<li class="nav-item"> 
    	    <a href="{% url 'user_profile' %}" class="nav-link {% if url_name == 'user_profile' %}active{% endif %}">
        	    <i class="fas fa-user"></i>
        	    My profile
        	</a>
    	</li>
    	<li class = "nav-item">
        	<a href="{% url 'user_properties' %}" class="nav-link {% if url_name == 'user_properties' %}active{% endif %}">
        	    <i class="fas fa-hotel"></i>
        		Properties
        	    <span class="badge badge-light badge-pill"> 45 {{ count_my_properties }}</span>
        	</a>
    	</li>
        <li class = "nav-item">
            <a href="{% url 'user_messages' %}" class="nav-link {% if url_name == 'user_messages' %}active{% endif %}">
                <i class="fas fa-envelope"></i>
                Messages
                <span class="badge badge-light badge-pill"> 41 {{ count_my_messages }}</span>
            </a>
        </li>
        <hr>
        <hr>
        <hr>
        {# IDEA: if user is advertisor, see stage-2 #}
        {% if request.user.is_active and request.user.is_staff %}
        <li class = "nav-item">
            <a href="{% url 'my_property_ads' %}" class="nav-link {% if url_name == 'my_property_ads' %}active{% endif %}">
                <i class="fas fa-ad"></i>
                My property ads
            </a>
        </li>
        <li class = "nav-item">
            <a href="{% url 'create_new_ad' %}" class="nav-link {% if url_name == 'create_new_ad' %}active{% endif %}">
                <i class="fas fa-plus-square"></i>
                Create new ad
            </a>
        </li>
        <li class = "nav-item">
            <a href="{% url 'ad_statistics' %}" class="nav-link {% if url_name == 'ad_statistics' %}active{% endif %}">
                <i class="fas fa-signal"></i>
                Statistics
            </a>
        </li>
        {% endif %}
        
    </ul>
</aside>

{% endwith %}