{% extends 'base.html' %}

{% block title %}Dashboard - User profile{% endblock %}

{% block description %}This page has a description.{% endblock %}

{% block robots %}index, follow{% endblock %}

{% block content %}
<div class="container-fluid">

	<script type="text/javascript">
	
		function onSignIn(googleUser) {
		//var profile2 = googleUser.getBasicProfile();
		//if (auth2.isSignedIn.get()) {
		
			var profile = auth2.currentUser.get().getBasicProfile();
			console.log('ID: ' + profile.getId());
			console.log('Full Name: ' + profile.getName());
			console.log('Given Name: ' + profile.getGivenName());
			console.log('Family Name: ' + profile.getFamilyName());
			console.log('Image URL: ' + profile.getImageUrl());
			console.log('Email: ' + profile.getEmail());
			var id_token = googleUser.getAuthResponse().id_token;
			console.log("ID Token: " + id_token);
		
		}
	
		this.onSignIn();
		
	</script>



	<div class="list-group">
		<a href="{% url 'userMng_index' %}" class="list-group-item list-group-item-action">
			Homepage
		</a>
		<a href="{% url 'user_profile' %}" class="list-group-item list-group-item-action active">My Profile</a>
		<a href="{% url 'user_properties' %}" class="list-group-item list-group-item-action">
			Properties
		    <span class="badge badge-primary badge-pill">{{ count_my_properties }}</span>
		</a>
	</div>







</div>
{% endblock %}