{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block description %}This page has a description.{% endblock %}

{% block robots %}noindex, nofollow{% endblock %}

{% block content %}
<div class="container-fluid">

	<div class="row row-offcanvas">
        {% include 'nav_sidebar.html' %}

	    <div class="col-md-10">
			<h1 class="display-4 d-none d-sm-block">Welcome back {{ user.username }}, here is your profile overview !</h1>
	        
	        <div class="row">
	        	<div class="card">
	        		Overview of existing Properties
	        	</div>
	        	<div class="card">
	        		Blog/News
	        	</div>
	        	<div class="card">
	        		Do you want more features ?
	        	</div>
	        </div>
	        
	        <div class = "row">
	        	<div class="col-md-3">
	        		Overview of existing Properties
	        	</div>
	        	<div class="col-md-3">
	        		Blog/News
	        	</div>
	        	<div class="col-md-3">
	        		Do you want more features ?
	        	</div>
	        </div>
	    </div>
	    
	</div>
	
</div>	
	
	
{% endblock %}
