{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}

{% block title %}Dashboard - User profile{% endblock %}

{% block description %}This page has a description.{% endblock %}

{% block robots %}index, follow{% endblock %}

{% block additional_head %}<link rel="stylesheet" href="{% static "flags/sprite.css" %}">{% endblock %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load countries %}
{% load tz %}

{% block content %}
<div class="container-fluid">

<!-- 
https://github.com/mfogel/django-timezone-field
https://github.com/dmpe/django-wohn/issues/18 
-->
	<div class="row">
        {% include 'nav_sidebar.html' %}

	    <div class="col-md-9 col-lg-9 col-xl-10 pt-5">

	    	<div class="row align-items-start">
	        	<div class="col-sm-6 col-lg-9 col-xl-3 pr-2">
			        <img src="{{ gravatar_url }}" alt="My Profile picture" class="rounded" style="width:250px;height: 250px;">
		        </div>
				
				<div class="col-md-6 col-lg-6 col-xl-6">
					<form>
						{% csrf_token %}
						<div class="form-group">
							<label for="inputUsername">Your Username</label>
							<input type="text" class="form-control" id="inputUsername" value="{{ user.get_username }}">
							<button>Save</button>
						</div>
					</form>
				</div>
				<div class="col-md-6 col-lg-6 col-xl-6">
					<form>
						{% csrf_token %}
						<div class="form-group">
							<label for="inputEmail">Your Email</label>
							<input type="email" class="form-control" id="inputEmail" value="{{ user.email }}">
							<button>Save</button>
						</div>
					</form>
				</div>
			</div>				

			<div class="row align-items-center">
				<fieldset class="form-group">
					<div class="row">
						<legend class="col-form-label col-sm-2 pt-0">Units of area</legend>
						<div class="col-sm-10">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
								<label class="form-check-label" for="gridRadios2">
									Imperial (USA centric): foot, miles, etc.
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
								<label class="form-check-label" for="gridRadios1">
									Metric (Rest of the World): Square meters, kilometers, etc. 
								</label>
							</div>
						</div>
					</div>
				</fieldset>
			</div>

				<!--
		        <p>Change currency, because default is CZK</p>
		        <p>Change mt^2 to sq. foot</p> -->

		</div>
	</div>
</div>
{% endblock %}