{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}

{% block title %}Dashboard - User profile{% endblock %}

{% block description %}This page has a description.{% endblock %}

{% block robots %}index, follow{% endblock %}

{% block additional_head %}<link rel="stylesheet" href="{% static "flags/sprite.css" %}">{% endblock %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load countries %}
{% load tz %}

{% block content %}
<div class="container-fluid">

<!-- 
https://github.com/mfogel/django-timezone-field
https://github.com/dmpe/django-wohn/issues/18 
-->
	<div class="row">
        {% include 'nav_sidebar.html' %}

	    <div class="col-md-9 col-lg-9 col-xl-10 pt-5">
	    	<div class="row">
	        	<div class="col-xl-3 col-sm-6 pr-2">
			        <img src="{{ gravatar_url }}" alt="My Profile picture" class="rounded" style="width:250px;height: 250px;">
		        </div>

		        <div class="col-md-6 col-sm-6">
					<form>
						{% csrf_token %}
						<div class="form-group">
							<h5>Change Email</h5>
							<label for="inputEmail">Current Email</label>
							<input type="text" readonly class="form-control" id="inputEmail" value="{{ user.email }}">

							<label for="inputEmailNew">New Email</label>
							<input type="email" class="form-control" id="inputEmailNew">
							<button>Save</button>
						</div>
					</form>

					<form>
						{% csrf_token %}
						<div class="form-group">
							<h5>Change Username</h5>
							<label for="inputUsername">Current Username</label>
							<input type="text" readonly class="form-control" id="inputUsername" value="{{ user.get_username }}">

							<label for="inputUsernameNew">New Username</label>
							<input type="text" class="form-control" id="inputUsernameNew">
							<button>Save</button>
						</div>
					</form>
				</div>

				<!--
		        <p>Change currency, because default is CZK</p>
		        <p>Change mt^2 to sq. foot</p> -->

				<fieldset class="form-group">
					<div class="row">
						<legend class="col-form-label col-sm-2 pt-0">Units of area</legend>
						<div class="col-sm-10">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
								<label class="form-check-label" for="gridRadios2">
									Imperial (USA centric): foot, miles, etc.
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
								<label class="form-check-label" for="gridRadios1">
									Metric (Rest of the World): Square meters, kilometers, etc. 
								</label>
							</div>
						</div>
					</div>
				</fieldset>
	        </div>

			<form>
				{% csrf_token %}
				<div class="form-group">
					<h5>Change Password</h5>
					<div class="form-group spacing">
						<div class="input-group">
							<input class="form-control" type="password" id="inputNewPassword" name="inputNewPassword" nameclass="form-control" placeholder="New password" required autofocus>
							<div class="input-group-append mr-1">
								<span class="input-group-text" id="inputGroupAppend">
									<button class="fa-eye resetIconStylesEYE" id="buttonEYE2" aria-hidden="true" type="button">
										<i class="fas fa-eye fa-lg"></i>
									</button>
								</span>
							</div>
							<label class="sr-only" for="inputNewPassword">New password</label>
						</div>
					</div>
					<div class="form-group spacing">
						<div class="input-group">
							<input class="form-control" type="password" id="inputConfirmNewPassword" name="inputConfirmNewPassword" placeholder="Confirm new password" required autofocus>
							<div class="input-group-append mr-1">
								<span class="input-group-text" id="inputGroupAppend">
									<button class="fa-eye resetIconStylesEYE" id="buttonEYE3" aria-hidden="true" type="button">
										<i class="fas fa-eye fa-lg"></i></button>
								</span>
							</div>
							<label class="sr-only" for="inputConfirmNewPassword">Confirm new password</label>
						</div>
					</div>
				</div>
				<button>Save</button>
			</form>
			
			<form>
				<div class="input-group ">
					<h5>Change your country</h5>
					
					<div class="input-group-prepend">
						<label for="inputCountries" class="input-group-text">Current country</label>
					</div>
					
					{% get_countries as countries %}
					<select class="custom-select" id="inputCountries">
						{% for country in countries %}
						<option value="{{ country.code }}">{{ country.name }}</option>
						{% endfor %}
					</select>
					<button>Save</button>
				</div>
			</form>			
			
			<form>
				<div class="input-group ">
					<h5>Change your timezone</h5>
					
					<div class="input-group-prepend">
						<label for="inputTimezones" class="input-group-text">Current timezone</label>
					</div>
					
					{% get_current_timezone as TIME_ZONE %}
					<select class="custom-select" id="inputTimezones">
						{% for tz in timezones %}
						<option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
						{% endfor %}
					</select>
					<button>Save</button>
				</div>
			</form>				
			
	    </div>
	</div>
</div>
{% endblock %}