{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block description %}This page has a description.{% endblock %}

{% block robots %}noindex, nofollow{% endblock %}

{% block content %}
<div class="container-fluid">

	<div class="row row-offcanvas">
        {% include 'nav_sidebar.html' %}

	    <div class="col-md-10">
			<h1 class="display-4 d-none d-sm-block">Welcome back {{ user.username }}, here is your profile overview !</h1>
	        
	        <div class="row">
	        	<div class="card bg-success text-white h-100">
	        		<div class="card-body bg-success">
		        		<h6 class="text-uppercase">Properties</h6>
		        		<h2 class="display-2">15 {{ number_of_properties }}</h2>
	        		</div>
	        	</div>
	        	
	        	<div class="card bg-warning">
	        		<div class="card-body bg-warning">
		        		<h6 class="text-uppercase">Properties</h6>
		        		<h2 class="display-2">15 {{ number_of_properties }}</h2>
	        		</div>
	        	</div>
	        	
	        	<div class="card bg-danger">
	        		<div class="card-body bg-warning">
		        		<h6 class="text-uppercase">Properties</h6>
		        		<h2 class="display-2">15 {{ number_of_properties }}</h2>
	        		</div>
	        	</div>
	        </div>
	        
	        <div class = "row">
	        	<div class="col-md-3">
	        		Overview of existing Properties
	        	</div>
	        	<div class="col-md-3">
	        		Blog/News
	        	</div>
	        	<div class="col-md-3">
	        		Do you want more features ?
	        	</div>
	        </div>
	    </div>
	    
	</div>
	
</div>	
	
	
{% endblock %}
